
{% extends "base.html" %}

{% block title %}User Dashboard{% endblock %}

{% block links %}
  <li class="nav-item"><a href="/" class="nav-link">HOME</a></li>
  <li class="nav-item active"><a href="/user-dashboard" class="nav-link">USER ACCOUNT</a></li>
  <li class="nav-item"><a href="/logout" class="nav-link">LOG OUT</a></li>
{% endblock %}

{% block body %}

<section class="hero-wrap js-fullheight" style="background-image: url(static/images/welcome.png);" data-stellar-background-ratio="0.5">
<div class="overlay"></div>
<div class="container">
	<div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">
		<div class="col-lg-12 ftco-animate d-flex align-items-center">
			<div class="text text-center">
				<span class="subheading">Welcome to AutoGate</span>
				<h1 class="mb-4">User Dashboard</h1>
				<p>Automated TollGate Payment System</p>
			</div>
		</div>
	</div>
</div>
</section>

<section class="services-section ftco-section">
<div class="container">
	<div class="row justify-content-center pb-3">
		<div class="col-md-10 heading-section text-center ftco-animate">
			<span class="subheading">Dashboard</span>
			<h2 class="mb-4">Welcome {{ name }} ...</h2>
			<p>Automated TollGate Payment System</p>
		</div>
	</div>
	<div class="row no-gutters d-flex">
		<div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
			<div class="media block-6 services d-block text-center">
				<div class="media-body">
					<h3 class="heading mb-3"></h3>
					<p><h1></h1></p>
				</div>
			</div>
		</div>
		

		<div style="display: block; width: 100%; text-align: center;">
			<h3 class="heading mb-3">BALANCE</h3>
			<p>
				<h1 style="padding: 10px; background: grey; color: white; font-weight: 1000; font-size: 20px">
					{{funds}}
				</h1>
			</p>

		</div>


	</div>
</div>
</section>

<section class="ftco-section center-align" style="padding: 0;">

	<h3 style="text-align: center;">MY CARS</h3>

	<div style="--my-width: 600px; width: var(--my-width); margin-left: calc((var(--window-width) - var(--my-width)) / 2)">
		{% for car in cars %}
			<div data-number-plate="{{ car['number_plate'] }}" class="row" style="margin-top: 5px;">
				<span style="background: green; color: white; padding: 5px; font-size: 20px;text-align: center;" class="col-sm-4">
					{{car["number_plate"]}}
				</span>

				<span class="col-sm-4">
					{{ (car.get("car_type") or 'NOT_SPECIFIED').upper() }}
				</span>
				
				{% if car["car_license_paid"]: %}

					<form class="col-sm-4" action="/remove-car" method="POST">
						<input type="hidden" name="number_plate" value="{{ car['number_plate'] }}">
						<input style="background-color: red !important; width: 100% !important; height: 100% !important;" class="btn btn-primary" value="REMOVE CAR" type="submit" />
					</form>

				{% else%}

					<form class="col-sm-4" action="/pay-for-car" method="POST">
						<input type="hidden" name="number_plate" value="{{ car['number_plate'] }}">
						<input style="width: 100% !important; height: 100% !important" class="btn btn-primary" value="PAY ($10)" type="submit" />
					</form>

				{% endif %}

			</div>
		{% endfor %}

		<form class="row" method="POST" action="/add-car" style="margin-top: 20px;">
			<input type="text" name="number_plate" placeholder="NEW CAR NUMBER PLATE" class="col-sm-4">
			<select name="car_type" class="col-sm-4">
				<option value="" selected disabled>SELECT CAR TYPE</option>
				<option value="family_car">FAMILY CAR</option>
				<option value="heavy_vehicle">HEAVY VEHICLE</option>
			</select>
			<span class="col-sm-4">
				<input type="submit" value="ADD CAR" class="btn btn-secondary" style="width: 100%;">
			</span>
		</form>



	</div>

	</tbody>
</table>
</section>

<section class="ftco-section ftco-booking bg-light">
	<div class="container ftco-relative">
		<div class="row justify-content-center pb-3">
			<div class="col-md-10 heading-section text-center ftco-animate">
				<span class="subheading">Top Up</span>
				<h2 class="mb-4">Load Money Into Your Account</h2>
				<p>Automated TollGate Payment System</p>
			</div>
		</div>
		<h3 class="vr">Call Us: +263776433583</h3>
		<div class="row justify-content-center">
			<div class="col-md-10 ftco-animate">
				<form action="/add-funds" class="appointment-form" method="post">
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<input type="number" class="form-control" name="amount" placeholder="Amount" required>
							</div>
						</div>
						<div class="col-sm-4" style="padding-top: 0 !important;">
							<div class="form-group" style="padding-top: 0 !important; margin-top: 0 !important;">
								<input type="submit" value="ADD" class="btn btn-primary"  style="margin-top: 0 !important; width: 100%;">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock %}